<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head ('Ticket Logger - User Form')"></head>

<body class="d-flex flex-column h-100">

<header th:replace="fragments/header :: header"></header>

<main class="form-page">
    <div class="form-card">

        <h1 th:text="${user.id == null ? @{users/insert} : @{users/edit}"></h1>

        <div th:if="${errorMessage}" class="alert alert-danger" th:text="${errorMessage}"></div>
        <div th:if="${successMessage}" class="alert alert-success" th:text="${successMessage}"></div>

        <form th:action="${user.id == null ? '/users/insert' : '/users/update' }"
              th:object="${user}" method="post" class="mt-3">

            <input type="hidden" th:field="*{id}" />

            <div class="mb-3">
                <label for="username" class="form-label" th:text="#{msg.user-form.username}"></label>
                <input type="text" th:field="*{username}" id="username" class="form-control"
                       maxlength="40" required />
                <div th:if="${#fields.hasErrors('username')}" class="text-danger" th:errors="*{username}" ></div>
            </div>

            <div class="mb-3">
                <label for="passwordHash" class="form-label" th:text="#{msg.user-form.password}"></label>
                <input type="text" th:field="*{passwordHash}" id="passwordHash" class="form-control"
                       maxlength="500" required />
                <div th:if="${#fields.hasErrors('passwordHash')}" class="text-danger" th:errors="*{passwordHash}"></div>
            </div>

            <div class="mb-3">
                <label for="failedLoginAttempts" class="form-label" th:text="#{msg.user-form.failedLoginAttempts}"></label>
                <input type="number" th:field="*{failedLoginAttempts}" id="failedLoginAttempts"
                       class="form-control" min="0" required />
                <div th:if="${#fields.hasErrors('failedLoginAttempts')}" class="text-danger" th:errors="*{failedLoginAttempts}"></div>
            </div>

            <div class="mb-3">
                <label for="lastPasswordChange" class="form-label" th:text="#{msg.user-form.lastPasswordChange}"></label>
                <input type="datetime-local" th:field="*{lastPasswordChange}" id="lastPasswordChange"
                       class="form-control" required />
                <div th:if="${#fields.hasErrors('lastPasswordChange')}" class="text-danger" th:errors="*{lastPasswordChange}"></div>
            </div>

            <div class="mb-3 form-check">
                <input type="checkbox" th:field="*{active}" id="active" class="form-check-input" />
                <label for="active" class="form-check-label" th:text="#{msg.user-form.active}"></label>
                <div th:if="${#fields.hasErrors('active')}" class="text-danger" th:errors="*{active}"></div>
            </div>

            <div class="mb-3 form-check">
                <input type="checkbox" th:field="*{accountNonLocked}" id="accountNonLocked" class="form-check-input" />
                <label for="accountNonLocked" class="form-check-label" th:text="#{msg.user-form.accountNonLocked}"></label>
                <div th:if="${#fields.hasErrors('accountNonLocked')}" class="text-danger" th:errors="*{accountNonLocked}"></div>
            </div>

            <div class="mb-3 form-check">
                <input type="checkbox" th:field="*{emailVerified}" id="emailVerified" class="form-check-input" />
                <label for="emailVerified" class="form-check-label" th:text="#{msg.user-form.emailVerified}"></label>
                <div th:if="${#fields.hasErrors('emailVerified')}" class="text-danger" th:errors="*{emailVerified}"></div>
            </div>

            <div class="mb-3 form-check">
                <input type="checkbox" th:field="*{mustChangePassword}" id="mustChangePassword" class="form-check-input" />
                <label for="mustChangePassword" class="form-check-label" th:text="#{msg.user-form.mustChangePassword}"></label>
                <div th:if="${#fields.hasErrors('mustChangePassword')}" class="text-danger" th:errors="*{mustChangePassword}"></div>
            </div>

            <button type="submit" class="btn btn-primary"
                    th:text="${user.id == null} ? #{msg.user-form.create} : #{msg.user-form.update}"></button>

            <a th:href="@{/users}" class="btn btn-secondary" th:text="#{msg.user-form.returnback}"></a>
        </form>

    </div>
</main>

<footer th:replace="fragments/footer :: footer"></footer>

<div th:replace="fragments/scripts :: scripts"></div>

</body>
</html>