<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Ticket Logger - Home')"></head>

<body class="d-flex flex-column h-100">

<header th:replace="fragments/header :: header"></header>

<main class="position-relative bg-light" style="height: 100vh;">
    <div class="position-absolute top-50 start-50 translate-middle text-center">
        <h1 class="display-4 fw-bold">Ticket Logger</h1>
        <p class="lead text-muted">
            <strong>Salvador Diaz Roman </strong> - Aplicación web para el registro de tickets en compras de supermercado.
        </p>
    </div>
</main>


<footer th:replace="fragments/footer :: footer"></footer>

<div th:replace="fragments/scripts :: scripts"></div>

</body>
</html>


