<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head ('Ticket Logger - User List')"></head>


<body class="d-flex flex-column h-100">


    <header th:replace="fragments/header :: header"></header>

        <main class="form-page">
            <div class="form-card">

                <h1 th:if="${province.id} == null" th:text="#{msg.province-form.add}"></h1>
                <h1 th:unless="${province.id} == null" th:text="#{msg.province-form.edit}"></h1>

                <div th:if="${errorMessage}"
                     class="text alert alert-danger"
                     th:text="${errorMessage}"></div>

                <form th:action="${province.id} == null ? @{/provinces/insert} : @{/provinces/update}"
                      th:object="${province}" method="post" class="mt-3">

                    <input type="hidden" th:field="*{id}" />

                    <div class="mb-3">
                        <label for="code" class="form-label" th:text="#{msg.province-form.code}"></label>
                        <input type="text" id="code" th:field="*{code}" class="form-control" />
                        <div th:if="${#fields.hasErrors('code')}" class="text-danger" th:errors="*{code}"></div>
                    </div>

                    <div class="mb-3">
                        <label for="name" class="form-label" th:text="#{msg.province-form.name}"></label>
                        <input type="text" id="name" th:field="*{name}" class="form-control" />
                        <div th:if="${#fields.hasErrors('name')}" class="text-danger" th:errors="*{name}"></div>
                    </div>

                    <div class="mb-3">
                        <label for="region" class="form-label" th:text="#{msg.province-form.region}"></label>
                        <select id="region" class="form-select" th:field="*{region.id}">
                            <option value="" th:text="#{msg.province-form.region.select}"></option>
                            <option th:each="reg : ${listRegions}" th:value="${reg.id}" th:text="${reg.name}"></option>
                        </select>
                        <div class="text-danger" th:if="${#fields.hasErrors('regionSelected')}" th:errors="*{regionSelected}"></div>
                    </div>

                    <button type="submit" class="btn btn-primary"
                            th:text="${province.id} == null ? @{#{msg.province-form.create}} : @{#{msg.province-form.update}}"></button>

                    <a th:href="@{/provinces}" class="btn btn-secondary" th:text="#{msg.province-form.returnback}"></a>

                </form>

            </div>
        </main>

    <footer th:replace="fragments/footer :: footer"></footer>

<div th:replace="fragments/scripts :: scripts"></div>

</body>

</html>